@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "sequel_sansbook_body";
	src: url("/fonts/sequel_sans_book_body-webfont.woff2") format("woff2"),
		url("/fonts/sequel_sans_book_body-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "pet_me_2xmedium";
	src: url("/fonts/petme2x-webfont.woff2") format("woff2"),
		url("/fonts/petme2x-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "sequel_sanslight_head";
	src: url("/fonts/sequel_sans_light_head-webfont.woff2") format("woff2"),
		url("/fonts/sequel_sans_light_head-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "sequel_sansbook_head";
	src: url("/fonts/sequel_sans_book_head-webfont.woff2") format("woff2"),
		url("/fonts/sequel_sans_book_head-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "sequel_sansroman_body";
	src: url("/fonts/sequel_sans_roman_body-webfont.woff2") format("woff2"),
		url("/fonts/sequel_sans_roman_body-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@layer base {
	html {
		font-family: sequel_sansbook_body, sans-serif;
	}
}

svg {
	width: 100vw;
	height: auto;
	max-width: 1100px;
}

svg path {
	/*stroke: #fff;*/
}

.rolodex {
	width: 100%;
	/*position: absolute;*/
	text-align: center;
	z-index: 9999;
	overflow: hidden;
	perspective: 1800px;
	display: grid;
	place-content: center;
}

.rolodex::before,
.rolodex::after {
	content: "";
	position: absolute;
	right: 0;
	left: 0;
	height: 30%;
	z-index: 1;
	pointer-events: none;
}
.rolodex::before {
	top: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0));
}
.rolodex::after {
	bottom: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 95%);
}

.rolodex ul {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}
.rolodex li {
	white-space: nowrap;
	position: absolute;
	width: 100%;
	backface-visibility: hidden;
	transform-style: preserve-3d;

	font-size: 2rem;
	line-height: 64px;
	padding: 1rem;
}
